/*.header { #4b3e4d };
.textoDestacado { #1e8c93 };
.Fondo { #dbd8a2 };
.Links { #c4ac30 };
.Titulos { #d74f33 };
*/
@font-face {
    font-family: 'NotoSans';
    src: url(NotoSans-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
}

article{
    margin-left: 16px;
    margin-top: 16px;
    text-align: justify;
    display:inline-block;
    border: 1px solid #c4ac30;
}

article:hover{
    background-color: #dbd2a3;
}

article:hover h2 {
    color:white ;
    text-shadow: 2px 2px #d74f33;
}

article:hover img {
    border: 1px solid #d74f33;
}

header{
    background:#4b3e4d;
    overflow: hidden;
    margin: 0;
    padding: 0;  
    position: sticky; 
    top:0;
}

h1,h2{
    font-family: 'NotoSans';
}

h1{
    text-align: center;
    color: #dbd8a2;
    font-variant: small-caps;
    margin-left: auto;
    font-size: 2.5rem ;
}

p{
    margin-left: 16px;
    margin-top: 16px;
    color:#4b3e4d; 
    font-size: 1.5rem;
    text-align: justify;
    float: left;
}

h2{
    color: #d74f33;;
    font-size: 2rem;
    margin: 16px;
    left: 18px;
}

b{
    color:#1e8c93;
}

footer{
    text-align: center;
    background-color: #4b3e4d;
    color: #dbd8a2;
}

img{
    float: right;
    margin-right: 70px; 
}

.definition{
    max-width: 600px;
}

.enfoque{
    width: 100%;
}